/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;  
  color: black;
  width: 80%;
  margin: 0 auto;
}

p, li { font-size: 0.9em; }

a { font-size: 0.9em; }

.col {
  background: red;
  width: 40%;
}

.col:nth-child(0){
  float: left;
}

.col:nth-child(1){
  float: right;
}
