@font-face {
  font-family: 'Book-Font';  
  src: url('fonts/whitneybook.otf')  format('truetype');
}

@font-face {
  font-family: 'Light-Font';  
  src: url('fonts/whitneylight.otf')  format('truetype');
}

@font-face {
  font-family: 'Medium-Font';  
  src: url('fonts/whitneymedium.otf')  format('truetype');
}

@font-face {
  font-family: 'Semibold-Font';  
  src: url('fonts/whitneysemibold.otf')  format('truetype');
}

@font-face {
  font-family: 'Bold-Font';  
  src: url('fonts/whitneybold.otf')  format('truetype');
}

.bold {
  font-family: 'Bold-Font', sans-serif !important;
}

.semibold {
  font-family: 'Semibold-Font', sans-serif;
}


.medium {
  font-family: 'Medium-Font', sans-serif !important;
}

body {
  font-family: 'Book-Font', sans-serif !important;
  margin: 2em;  
  color: #525252;
  width: 80%;
  margin: 0 auto;  
}

.active { 
  font-weight: bold;
  color: #525252;
}

h1, h2, h3 {
  font-family: 'Semibold-Font', sans-serif !important;  
  letter-spacing: -1px;
}

li { font-size: 1em; line-height: 1.7em; }

p { 
  font-family: 'Book-Font';
}

@media only screen and (max-width: 768px) {  
  body {
    width: 90%;
  }
}
